:root {
  --azure-spacing-sm: 5px;
  --azure-spacing-md: 10px;
  --azure-spacing-lg: 15px;
}

/*
  * Flex Layout Utilities
*/

.flex-max {
  flex: 1 1;
}

.col {
  display: flex;
  flex-flow: column;
}

.row {
  display: flex;
  flex-flow: row;
}

.row-nw {
  display: flex;
  flex-flow: row nowrap;
}

.gap-sm {
  gap: var(--azure-spacing-sm);
}

.gap-md {
  gap: var(--azure-spacing-md);
}

.gap-lg {
  gap: var(--azure-spacing-lg);
}

.centre {
  justify-content: center;
  align-items: center;
}

.justify-centre {
  justify-content: center;
}

.align-centre {
  align-items: center;
}

/* Text Styling */

.bold {
  font-weight: 600;
}

.sm {
  font-size: var(--text-sm);
}

.md {
  font-size: var(--text-md);
}

/* Layout Styling */
.p-sm {
  padding: var(--azure-spacing-sm);
}

.mb-msm {
  margin-bottom: calc(-1 * var(--azure-spacing-sm));
}
